.container {
	width: 1000px;
	height: 100%;
	margin: auto;
	display: block;
}

.controls {
	margin-top: 10px;
	margin-bottom: 30px;
}

#message {
	color: red;
}

.square {
	display: inline-block;
	background-color: #257235;
}

.rowley {
	margin-bottom: -4px;
}